
			    .header ,.content , .footer { width:1200px; margin:0 auto;font-family:"Microsoft Yahei";}
			    .h_top{position: absolute;width: 100%;z-index: 999;top: 0;height:102px;background:url(images/topbg.png) repeat-x center 0;}
				.h_top:before{content: "";position: absolute;width: 100%;height: 0;-webkit-transition:height .5s cubic-bezier(0.52, 1.64, 0.37, 0.66);-webkit-transition:height .5s cubic-bezier(0.52, 1.64, 0.37, 0.66);}
				.h_top:hover:before{height: 102px;background: #fff;}
				.t_logo{padding:26px 0 0;}
				.t_logo span{display: none;}
				.h_top:hover .t_logo p{display: none;}
				.h_top:hover .t_logo span{display: block;}
				.t_logo,.t_logo img{width:227px;display: block;height:57px;}

				.menu{white-space:nowrap;height:58px;line-height: 58px;padding: 26px 0 0;}
				.menu li{float: left;position: relative;}
				.menu li a{color:#fff;display: inline-block;padding: 0 15px;}
				.h_top:hover .menu li a{color: #444;}
				.menu li.cur a,.menu li a:hover,.h_top:hover .menu li.cur a{text-decoration:none;z-index: 1;color: #c00000;font-weight: bold;}
				
				.menu li a:-webkit-any-link{ display:block;}
			

			    	.f_bj{color:#fff;clear:both;font-family:"Microsoft Yahei";background:#272727;line-height:24px;padding: 69px 0 0;}
			    	.f_con{height:216px;}
					.f_bj a{color:#fff;}
					.f_code,.f_text{border-left: solid 1px #3d3d3d;height: 157px;}
					.f_code{width:275px;display: block;text-align: center;margin:0 20px 0 0;}
					.f_code p{width:96px;float: right;margin:14px 0 0 20px;line-height:18px;text-align: center;}
					.f_code p img{width:90px;height:90px;background: #fff;padding:3px;display: block;margin: 0 auto;}
					
					.f_logo{width:317px;}
					.f_logo img{width:227px;height:57px;display: block;}
					.f_logo em{display: block;font-style: normal;color: #fff;}
					.f_nav a{display:inline-block;padding:0 0 0 18px;background:url(images/f_ico1.gif) no-repeat 5px 13px;width: 134px;float: left;}

					.f_text{width:490px;padding:0 0 0 78px;}		
					.f_pho{background:url(images/f_ico2.gif) no-repeat 0 11px;padding: 0 0 0 42px;line-height: 55px;font-family: Impact;font-size: 30px;height: 69px;}
					.f_wz{height: 80px;line-height: 80px;color: #666;clear: both;background: #fff;}
			    

        .client-2 {
            position: fixed;
            right: -170px;
            top: 50%;
            z-index: 900;
        }
        
        .client-2 li a {
            text-decoration: none;
        }
        .client-2 li {
            margin-top: 1px;
            clear: both;
            height: 71px;
            position: relative;
        }
        
        .client-2 li i {
            background: url(images/fx.png) no-repeat;
            display: block;
            width: 30px;
            height: 27px;
            margin: 0px auto;
            text-align: center;
        }
        
        .client-2 li p {
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            color: #fff;
        }
        
        .client-2 .my-kefu-qq i {
            background-position: 4px 5px;
        }
        
        .client-2 .my-kefu-tel i {
            background-position: 0 -21px;
        }
        
        .client-2 .my-kefu-liuyan i {
            background-position: 4px -53px;
        }
        
        .client-2 .my-kefu-weixin i {
            background-position: -34px 4px;
        }
        
        .client-2 .my-kefu-weibo i {
            background-position: -30px -22px;
        }
        
        .client-2 .my-kefu-ftop {
            display: none;
        }
        
        .client-2 .my-kefu-ftop i {
            width: 33px;
            height: 35px;
            background-position: -27px -51px;
        }
        
        .client-2 .my-kefu-left {
            float: left;
            width: 77px;
            height: 47px;
            position: relative;
        }
        
        .client-2 .my-kefu-tel-right {
            font-size: 16px;
            color: #fff;
            float: left;
            height: 24px;
            line-height: 22px;
            padding: 0 15px;
            border-left: 1px solid #fff;
            margin-top: 14px;
        }
        
        .client-2 .my-kefu-right {
            width: 20px;
        }
        
        .client-2 .my-kefu-tel-main {
            background: #c00000;
            color: #fff;
            height: 56px;
            width: 247px;
            padding:9px 0 6px;
            float: left;
        }
        
        .client-2 .my-kefu-main {
            background: #c00000;
            width: 97px;
            height: 56px;
            position: relative;
            padding:9px 0 6px;
            float: left;
        }
        
        .client-2 .my-kefu-weixin-pic {
            position: absolute;
            left: -130px;
            top: -24px;
            display: none;
            z-index: 333;
        }
        
        .my-kefu-weixin-pic img {
            width: 115px;
            height: 115px;
        }
    
